<app-header/>
  
  <!-- Page Header -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-caption">
            <h1 class="page-title">Medical Aid Claims</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.page-header-->
  
  <!-- News Section -->
  <div class="card-section">
    <div class="container">
      <div class="card-block bg-white mb30">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <!-- Section Title -->
            <div class="section-title mb-0">
              <h2>All about Medical Aid Claims</h2>
              <p>
                Learn about our services and how to make claims for your medical expenses.
              </p>
            </div>
            <!-- /.section-title -->
          </div>
        </div>
      </div>
      
    </div>
  </div>
  