<div class="body-container">
    <div class="container-fluid" >
      <div class="card1">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <!-- <h5 class="card-title fw-semibold mb-4">Titles, text, and links</h5> -->
              <div class="card border-left border-3 border-secondary">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <div class="icon" style="font-size:35pt;">
                          <i class="lni lni-folder"></i>
                      </div>
                      
                    </div>
                    <div class="col-8">
                      <h6 class="card-title">Make A Claim</h6>
                      <p class="card-text">
                        Claim
                      </p>
                      <a class="card-link" style="cursor: pointer;" routerLink="/admin/sales-report">Claim</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <h5 class="card-title fw-semibold mb-4">Titles, text, and links</h5> -->
              <div class="card border-left border-3 border-secondary">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <div class="icon" style="font-size:35pt;">
                          <i class="lni lni-graph"></i>
                      </div>
                      
                    </div>
                    <div class="col-8">
                      <h6 class="card-title">Claims List</h6>
                      <p class="card-text">
                        List of Claims made
                      </p>
                      <a class="card-link" style="cursor: pointer;" routerLink="/admin/claim-list">See Claims</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
    
  
  
